<%- include('layout/header') %>
<%- include('layout/nav') %>

<body>
  <div class="container">
    <h1>Form Input Data</h1>

    <!-- Form Input -->
    <form action="/contact" method="POST">
      <label for="name">Nama:</label>
      <input type="text" id="name" name="name" placeholder="Masukkan nama" required><br><br>

      <label for="mobile">Telp:</label>
      <input type="text" id="mobile" name="mobile" placeholder="Masukkan no telp" required><br><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Masukkan email" required><br><br>

      <button type="submit">Kirim</button>
    </form>

    <!-- Tabel untuk menampilkan data (Read) -->
    <table>
      <tr>
        <th>Nama</th>
        <th>No.Telp</th>
        <th>Email</th>
        <th>Aksi</th>
      </tr>
      <!-- Menampilkan data -->
      <% data.forEach(contact => { %> 
          <tr>
            <td><%= contact.name %></td> <!-- Menampilkan nama -->
            <td><%= contact.mobile %></td> <!-- Menampilkan telp -->
            <td><%= contact.email %></td> <!-- Menampilkan email -->
            <td>
              <a href="/Edit/<%= contact.name %>"><button class="edit" type="submit">Edit</button></a>
              <form action="/delete/<%= contact.name %>" method="POST">
                <button type="submit" class="delete">Delete</button>
              </form>
            </td>
          </tr>
      <% }); %>
    </table>
  </div>

  <% if (errorMessage) { %>
    <!-- Tampilkan modal jika ada pesan error -->
    <div id="errorModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p><%= errorMessage %></p>
      </div>
    </div>
    <script>
      // Pastikan modal muncul setelah errorMessage dikirimkan
      document.getElementById('errorModal').style.display = 'block';

      // Mendapatkan errorMessage dari EJS dan menambahkan timeout redirect
      const errorMessage = "<%= errorMessage %>";
      if (errorMessage.includes('Terjadi kesalahan saat parsing data JSON')) {
        setTimeout(function() {
          window.location.href = '/'; // Arahkan ke halaman home setelah 1 detik
        }, 1000); // 1000ms = 1 detik
      }
    </script>
  <% } %>
  
  <% if (successMessage) { %>
    <!-- Tampilkan modal jika ada pesan sukses -->
    <div id="successModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p><%= successMessage %></p>
      </div>
    </div>
    <script>
      document.getElementById('successModal').style.display = 'block';
    </script>
  <% } %>

  <script>
    // Menutup modal
    function closeModal() {
      var modals = document.querySelectorAll('.modal');
      modals.forEach(modal => modal.style.display = 'none');
    }
  </script>
</body>

<%- include('layout/footer') %>
